@tailwind base;
@tailwind components;
@tailwind utilities;

.containerMask {
  @apply relative h-[300vh] bg-white;
}

.stickyMask,
.stickyMask2 {
  @apply h-[100vh] sticky top-0 flex items-center justify-center;
  -webkit-mask-position: 50% center;
  mask-position: 50% center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 80%;
  mask-size: 80%;
}

.stickyMask2 svg {
  width: 100%;
  height: auto;
}

.stickyMask {
  -webkit-mask-image: url("../public/coca-cola.svg");
  mask-image: url("../public/coca-cola.svg");
  background-size: contain; /* Ensure the SVG scales correctly */
  background-position: center;
}

.stickyMask .objectContainer {
  @apply h-full w-full object-cover;
}
